/* Write your CSS! */
@-webkit-keyframes shake {
  0% {
    -webkit-transform: translate(2px, 1px) rotate(0deg); }

  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg); }

  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg); }

  30% {
    -webkit-transform: translate(0px, 2px) rotate(0deg); }

  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg); }

  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg); }

  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg); }

  70% {
    -webkit-transform: translate(2px, 1px) rotate(-1deg); }

  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg); }

  90% {
    -webkit-transform: translate(2px, 2px) rotate(0deg); }

  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg); } }

html {
  height: 100%; }

body {
  background-image: url(../bg.jpg);
  background-size: auto 130%;
  background-position: -100px -50px;
  cursor: none !important;
  overflow: hidden; }

#counter {
  border: 4px solid #fff;
  margin: -175px 0 0 -435px;
  padding: 25px 75px 0 0;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 795px;
  -webkit-animation-name: shake;
  -moz-animation-name: shake;
  animation-name: shake;
  -webkit-animation-duration: 10s;
  -moz-animation-duration: 10s;
  animation-duration: 10s;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  animation-timing-function: linear; }
  #counter canvas {
    float: left;
    display: block;
    height: 355px;
    width: 265px; }

#pattern {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px; }